<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <header class="header" id="home">
      <%- include('../includes/header.ejs') %>
    </header>
    <main><%- include('../includes/content-admin-edit-word.ejs') %></main>
    <footer class="footer"><%- include('../includes/footer.ejs') %></footer>
  </body>
</html>
