<form class="form-word-search" action="/words/:search" method="POST">
  <div class="form__search">
    <label for="wordToSearch"></label>
    <input class="form__search-input" type="text" name="wordToSearch"
    id="wordToSearch" placeholder="Search word" alt="Search word in kanji,
    hiragana, katakana, romaji or English."
  </div>
  <button class="form__btn" type="submit">Search</button>
</form>
