<section class="section-admin-controls">
  <h1 class="section-admin__title">Admin Controls</h1>

  <nav class="admin-nav">
    <ul class="admin-nav__list">
      <li class="admin-nav__item">
        <a class="admin-nav__link" href="/admin/add-word">Add</a>
      </li>
      <li class="admin-nav__item">
        <a class="admin-nav__link" href="/admin/edit-word">Edit</a>
      </li>
      <li class="admin-nav__item">
        <a class="admin-nav__link" href="/admin/delete-word">Delete</a>
      </li>
    </ul>
  </nav>
</section>
