<section class="section-review">
  <h2>
    Select new words to get flash cards for words not in your collection. Select
    review words to random get words from your red/orange/yellow collections.
  </h2>
  <form
    class="review__card--form"
    action="/review"
    method="GET"
    id="get-review-form"
    role="word review card"
    aria-label="Word review card with Japanese and English"
  >
    <button
      id="new-review-words"
      name="type"
      type="submit"
      value="newWords"
      class="review__card--button-new"
    >
      New Word
    </button>
    <button
      id="current-review-words"
      name="type"
      type="submit"
      value="reviewWords"
      class="review__card--button-review"
    >
      Review Word
    </button>
  </form>
</section>
