<section class="section-login">
  <form
    action="/signup"
    method="POST"
    class="input-form"
    role="form"
    aria-label="user sign in form"
  >
    <div class="input-group">
      <label for="name"></label>
      <input
        type="text"
        name="name"
        id="name"
        autocomplete="name"
        placeholder="Name"
        title="Please enter your name"
        required
      />
      <span class="form-alert">Invalid name</span>
    </div>

    <div class="input-group">
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        placeholder="name@example.com"
        title="Please enter your email"
        required
      />
      <span class="form-alert">Invalid email</span>
    </div>

    <div class="input-group">
      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
        autocomplete="password"
        placeholder="Password"
        title="Password must be at least 10 digits and contain a capital and lowercase letter, a number and a symbol (!@#$%^&*()_+)"
        required
      />
      <span class="form-alert">Password does not meet requirements</span>
    </div>

    <div class="input-group">
      <label for="confirm-password"></label>
      <input
        type="password"
        name="confirmPassword"
        id="confirm-password"
        autocomplete="password"
        placeholder="Confirm Password"
        title="Please retype password"
        required
      />
      <span class="form-alert">Passwords do not match</span>
    </div>

    <!-- <p>Where did you hear about us?</p>
    <div class="form__input">
      <input
        type="radio"
        name="hearFromWhere"
        id="theInternet"
        value="internet"
      />
      <label for="the internet">The Internet</label>
      <input type="radio" name="hearFromWhere" id="other" value="other" />
      <label for="other">Other</label>
    </div>
    <p>Where are you from?</p>
    <div class="form__input">
      <input type="radio" name="liveWhere" id="theUniverse" value="universe" />
      <label for="the universe">The Universe</label>
      <input type="radio" name="liveWhere" id="other" value="other" />
      <label for="other">Other</label>
    </div> -->

    <input class="form__btn" type="submit" value="Sign Up" id="signup-form" />
  </form>
</section>
