<section class="section-review">
  <form
    class="review__card--form"
    action="/review"
    method="GET"
    id="get-review-form"
    role="word review card"
    aria-label="Word review card with Japanese and English"
  >
    <button
      id="new-review-words"
      name="type"
      type="submit"
      value="newWords"
      class="review__card--button-new"
    >
      New Words
    </button>
    <button
      id="current-review-words"
      name="type"
      type="submit"
      value="reviewWords"
      class="review__card--button-review"
    >
      Review Words
    </button>
  </form>
  <div class="review__card">
    <div class="review__card--review-type"></div>
    <h2 class="review__card--word"></h2>
    <div class="review__card--answer">
      <h3 class="review__card--yomikata"></h3>
      <h3 class="review__card--english"></h3>
    </div>
    <form
      class="review__card--form"
      action="/review"
      method="GET"
      role="word review card"
      aria-label="Word review card with Japanese and English"
    >
      <button class="review__card--button-red"></button>
      <button class="review__card--button-orange"></button>
      <button class="review__card--button-yellow"></button>
      <button class="review__card--button-green"></button>
    </form>
  </div>
</section>
