<section class="section-review">
  <form
    class="review__card--form"
    action="/review"
    method="GET"
    id="get-review-form"
    role="word review card"
    aria-label="Word review card with Japanese and English"
  >
    <button
      id="new-review-words"
      name="type"
      type="submit"
      value="newWords"
      class="review__card--button-new"
    >
      New Word
    </button>
    <button
      id="current-review-words"
      name="type"
      type="submit"
      value="reviewWords"
      class="review__card--button-review"
    >
      Review Word
    </button>
  </form>
  <div class="review__card">
    <% searchResult.forEach(function(result) { %>
    <div class="review__card--review-type"><%= reviewType %></div>
    <h2 class="review__card--word"><%= result.日本語.日本語単語 %></h2>

    <div class="review__card--answer">
      <h3 class="review__card--yomikata"><%= result.日本語.平仮名 %></h3>
      <h3 class="review__card--english"><%= result.英語.英単語 %></h3>
    </div>

    <% }); %>

    <div class="review__card--submit">
      <button class="review__card--button-red"></button>
      <button class="review__card--button-orange"></button>
      <button class="review__card--button-yellow"></button>
      <button class="review__card--button-green"></button>
    </div>
  </div>
</section>
