<section class="section-login">
  <form
    action="/signup"
    method="POST"
    class="input-form"
    role="form"
    aria-label="user sign in form"
  >
    <label for="name"></label>
    <input
      type="text"
      name="name"
      id="name"
      autocomplete="name"
      placeholder="Name"
      required
    />
    <label for="email"></label>
    <input
      type="email"
      name="email"
      id="email"
      autocomplete="email"
      placeholder="name@example.com"
      required
    />
    <label for="password"></label>
    <input
      type="password"
      name="password"
      id="password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{10,}"
      autocomplete="password"
      placeholder="Password"
      required
    />
    <label for="confirm-password"></label>
    <input
      type="password"
      name="confirmPassword"
      id="confirm-password"
      autocomplete="password"
      placeholder="Confirm Password"
      required
    />
    <p>Where did you hear about us?</p>
    <div class="form__input">
      <input
        type="radio"
        name="hearFromWhere"
        id="theInternet"
        value="internet"
      />
      <label for="the internet">The Internet</label>
      <input type="radio" name="hearFromWhere" id="other" value="other" />
      <label for="other">Other</label>
    </div>
    <p>Where are you from?</p>
    <div class="form__input">
      <input type="radio" name="liveWhere" id="theUniverse" value="universe" />
      <label for="the universe">The Universe</label>
      <input type="radio" name="liveWhere" id="other" value="other" />
      <label for="other">Other</label>
    </div>

    <input class="form__btn" type="submit" value="Sign Up" />
  </form>
</section>
