<section class="section-search">
  <form
    class="form-word-search"
    action="/search"
    method="POST"
    role="search window"
    aria-label="word search window"
  >
    <div class="form__search">
      <label for="search-box"></label>
      <input class="form__search-input" type="text" name="searchString"
      id="search-box" placeholder="Search word" alt="Search word in kanji,
      hiragana, katakana, romaji or English." onkeyup="sendData()"
    </div>
    <button class="search__btn" type="submit">Search</button>
  </form>
</section>
<section class="section-search-results">
  <div
    class="search__predictions"
    id="search-predictions"
    role="search predictions"
    aria-label="list of words in database matching input that user may be searching for"
  ></div>

  <script>
    function sendData(e) {
      const input = document.getElementById("search-box").value;
      console.log(input);
      document.getElementById("search-predictions").innerHTML = input;
    }
  </script>
</section>
