<section class="section-login">
  <form
    action="/signin"
    method="POST"
    class="input-form"
    role="form"
    aria-label="user login form"
  >
    <label for="username"></label>
    <input
      type="text"
      name="username"
      id="username"
      autocomplete="username"
      placeholder="Username"
      required
    />
    <label for="password"></label>
    <input
      type="password"
      name="password"
      id="password"
      autocomplete="password"
      placeholder="Password"
      required
    />
    <label for="email"></label>
    <input
      type="email"
      name="email"
      id="email"
      autocomplete="email"
      placeholder="name@example.com"
      required
    />
    <p>Where did you hear about us?</p>
    <div class="form__input">
      <input type="radio" name="reference" id="theInternet" />
      <label for="theInternet">The Internet</label>
      <input type="radio" name="reference" id="other" />
      <label for="other">Other</label>
    </div>

    <input class="form__btn" type="submit" value="Login" />
  </form>
</section>
