<section class="section-login">
  <form action="/login" method="POST" class="login">
    <h1>User Login</h1>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <p>Where did you hear about us?</p>
    <label for="theInternet">The Internet</label>
    <input type="radio" name="reference" id="theInternet" />
    <label for="other">Other</label>
    <input type="radio" name="reference" id="other" />
  </form>
</section>
