<section class="section-review">
  <h2>
    Select new words to get flash cards for words not in your collection. Select
    review words to random get words from your red/orange/yellow collections.
  </h2>
  <form
    class="review__card--form"
    action="/review"
    method="GET"
    id="get-review-form"
    role="word review card"
    aria-label="Word review card with Japanese and English"
  >
    <button
      id="new-review-words"
      name="type"
      type="submit"
      value="newWords"
      class="review__card--button-new"
    >
      New Word
    </button>
    <button
      id="current-review-words"
      name="type"
      type="submit"
      value="reviewWords"
      class="review__card--button-review"
    >
      Review Word
    </button>
  </form>
</section>
<section class="section-review-how-it-works" aria-label="How it works">
  <h2 class="subtitle">How It Works</h2>

  <div class="how-it-works__review-types">
    <article class="how-it-works__new-word">
      <h3 class="tertiary-title">Test Your Knowledge</h3>

      <p class="how-it-works__text">
        Look up random words from the dictionary and see if you know what they
        mean in English.
      </p>

      <p class="how-it-works__text">
        Click the
        <span class="review__card--button-review">New Word</span> button to look
        up words from the dictionary. These will be randonly drawn from all
        dictionary words and duplicates or words in your collection may appear.
      </p>
    </article>
    <article class="how-it-works__reivew-word">
      <h3 class="tertiary-title">Test Your Memory</h3>

      <p class="how-it-works__text">
        Look up random words from the dictionary and see if you know what they
        mean in English.
      </p>

      <p class="how-it-works__text">
        Click the
        <span class="review__card--button-review">Review Word</span> button to
        look up words from your collection. You will only draw words from your
        collection. Words set to green category will never be drawn again.
      </p>
    </article>
  </div>

  <article class="how-it-works__review-card-instructions">
    <h2 class="subtitle">How To Use Review Card</h2>
    <ol class="how-it-works__list">
      <li class="how-it-works__list-text">
        1. Click either the
        <span class="review__card--button-review">New Word</span> or the
        <span class="review__card--button-review">Review Word</span> button to
        be taken to the review card page.
      </li>
      <li class="how-it-works__list-text">
        2. Based on your selection, a word will already have been chosen.
      </li>
      <li class="how-it-works__list-text">
        3. Hover over in the center of the card to reveal the English
        definition.
      </li>
      <li class="how-it-works__list-text">
        4. When done with the word, click a color to save in that category in
        your collection.
      </li>
      <li>
        <ul class="how-it-works__sublist">
          <li class="how-it-works__list-text">
            &#x2022; <span class="review__card--button red">Red</span> means
            that you have seen the word for the first time or are not familiar
            with it. Words in this category have a 60% chance to be drawn (from
            your collection).
          </li>
          <li class="how-it-works__list-text">
            &#x2022;
            <span class="review__card--button orange">Orange</span> means that
            you are somewhat familiar with the word, but it is in your passive
            memory. Words in this category have a 30% chance to be drawn (from
            your collection).
          </li>
          <li class="how-it-works__list-text">
            &#x2022;
            <span class="review__card--button yellow">Yellow</span> means that
            you are familiar with the word, but it may still be in your passive
            memory, or you are not 100% sure of its meaning or when to use it
            etc. Words in this category have a 20% chance to be drawn (from your
            collection).
          </li>
          <li class="how-it-works__list-text">
            &#x2022; <span class="review__card--button green">Green</span> means
            that you have mastered the word.
          </li>
        </ul>
      </li>
    </ol>
  </article>
</section>
