<h1 class="errorMessage"><%= message %></h1>

<form
  action="/"
  method="GET"
  class="login"
  role="form"
  aria-label="redirect to home page"
>
  <input class="redirect__btn" type="submit" value="Return Home" />
</form>
