<section class="section-search">
  <form
    class="form-word-search"
    action="/admin/edit-word"
    method="GET"
    role="search window"
    aria-label="word search window"
    id="admin-search"
  >
    <div class="form__search">
      <label for="admin-search-input"></label>
      <input
        class="form__search-input"
        type="text"
        name="word"
        id="admin-search-input"
        required
        placeholder="Search word"
        alt="Search word in kanji,
      hiragana, katakana, romaji or English."
      />
      <button class="search__btn" type="submit">Search</button>
      <a class="search__btn" href="/admin/add-word">Add</a>
    </div>
  </form>
</section>
