<h1 class="error-message__title">
  Oops! (<%= originalURL %>) route does not exist
</h1>
<h2 class="error-message__subtitle">Click below to return to previous page</h2>

<form
  action="/"
  method="GET"
  class="login"
  role="form"
  aria-label="404 error return to previous page"
>
  <input class="redirect__btn" id="redirect-404" value="Return" />
</form>
