<section class="section-login">
  <form
    action="/signin"
    method="POST"
    class="input-form"
    role="form"
    aria-label="user login form"
  >
    <label for="email"></label>
    <input
      type="email"
      name="email"
      id="email"
      autocomplete="email"
      placeholder="Email"
      required
    />

    <label for="password"></label>
    <input
      type="password"
      name="password"
      id="password"
      autocomplete="password"
      placeholder="Password"
      required
    />
    <input class="form__btn" type="submit" value="Sign In" />
  </form>
</section>
