<header class="header" id="home">
  <div class="logo">
    <a href="/">
      <img src="../img/Recursive Icon.svg" alt="recursive web brand logo" />
    </a>
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/">Search</a>
      </li>

      <% if (userAuthId) { %>
      <li class="nav__item">
        <a class="nav__link" href="/review">Review</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="/admin">Admin</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="/profile">My Account</a>
      </li>
      <% } else { %> <% } %>

      <li class="nav__item">
        <a class="nav__link" href="/signin">Sign In</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="/signup">Sign Up</a>
      </li>
    </ul>
  </nav>
</header>

<h1 class="content__title"><%= contentTitle %></h1>
