<div class="logo">
  <a href="/">
    <img src="img/Recursive Icon.svg" alt="recursive web brand logo" />
  </a>
</div>

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="/">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/words">Search Results</a>
    </li>
  </ul>
</nav>

<!-- <nav class="header__nav">
  <ul class="header__item-list">
    <li class="header__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="main-header__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/words"
        >Search Word</a
      >
    </li>
  </ul>
</nav> -->
