/********************/
/* Fonts */
/********************/
/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-100italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-100italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-100italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-100italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-100italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-300italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-500italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-500italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-500italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-500italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-700italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v30-latin-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-latin-900italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin-900italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-code-pro-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/source-code-pro-v22-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/source-code-pro-v22-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/source-code-pro-v22-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/source-code-pro-v22-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/source-code-pro-v22-latin-regular.svg#SourceCodePro")
      format("svg");
  /* Legacy iOS */
}

/********************/
/* General */
/********************/

:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Source Code Pro", monospace;
  --font-weight-reg: 400;
  --font-weight-bold: 900;
  --font-size-h1: 4rem;
  --font-size-h2: 3rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --color-dark: #303030;
  --color-light: #fff;
  --color-grey-dark: #c2bebe;
  --color-grey-light: #f1efef;
  --color-light-text: hsla(0, 3%, 37%, 0.8);
  --color-accent-primary: rgba(170, 222, 135);
  --color-accent-secondary: rgb(228, 193, 78);
  --color-accent-tertiary: rgb(118, 187, 217);
  --color-accent-opacity-light: rgba(82, 82, 82, 0.2);
  --color-accent-opacity-dark: rgba(82, 82, 82, 0.99);
  --box-shadow: 5rem, 5rem 5rem rgba(0, 0, 0, 0.8);
  --flash-success: rgba(170, 222, 135, 0.5);
  --flash-error: rgba(204, 92, 92, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  outline: 0.3rem solid var(--color-accent-primary);
  outline-offset: 0.2rem;
}

::-webkit-scrollbar {
  background: var(--color-dark);
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent-primary);
  border-radius: 1rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-anchor: none;
  scroll-padding-top: 8rem;
}

:target {
  scroll-padding-top: 8rem;
  scroll-margin-top: 8rem;
}

ul,
li {
  list-style: none;
}

body {
  overflow-anchor: none;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: var(--font-size-body);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-reg);
  line-height: 1.7;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 1rem;
  font-weight: var(--font-weight-reg);
}

h1 {
  font-weight: var(--font-weight-reg);
}

strong {
  font-weight: var(--font-weight-bold);
}

button {
  border: none;
}

.btn-dark:hover {
  color: var(--color-dark) !important;
}

.errorMessage {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.redirect__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20% !important;
  text-align: center;
  margin: 0 auto !important;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 2rem;
  height: 5rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  transition: all 300ms ease-in-out;
}

.redirect__btn:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.flash-message {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  background-color: var(--flash-success);
  color: var(--color-dark);
  text-align: center;
  border: 0.1rem solid var(--color-accent-primary);
  box-shadow: 0, 0, 4rem, 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  width: 70%;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-bottom: 5;
}

.flash-message:empty {
  display: none;
}

/* .flash-message {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
} */

.flash-message--success {
  background-color: #20bf6b;
}

.flash-message--error {
  background-color: #eb4d4b;
}

.margin-bottom {
  margin-bottom: 5rem;
}

/********************/
/* Header */
/********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 12rem;
  padding: 1rem;
  padding-right: 3rem;
  border-bottom: 0.5rem solid var(--color-accent-primary);
  margin-bottom: 5rem;
  transition: all 300ms eas;
}

.logo img {
  height: 10rem;
  margin-left: 2rem;
}

.nav {
  color: var(--color-dark);
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav__link {
  display: block;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  color: var(--color-dark);
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-accent-primary);
}

.btn-header-nav {
  display: block;
  padding: 0 3rem;
  background: var(--color-accent-primary);
  color: var(--color-dark);
  text-decoration: none;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  border-radius: 1rem;
  border: 2px solid transparent;
  outline-offset: 1rem;
  transition: all 200ms ease-in-out;
}

.btn-header-nav:hover {
  transform: translateY(-0.1rem);
  background-color: var(--color-light);
  border: 2px solid var(--color-accent-primary);
}

.content__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
}
/* 
.mobile-navmenu-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-navmenu-icon {
  height: 5rem;
  width: 5rem;
  color: #333;
}

.mobile-navmenu-icon[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-light);
  backface-visibility: hidden;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .intro {
  margin-top: 10rem;
}

.sticky .logo img {
  height: 6rem;
  margin-left: 2rem;
}

.sticky .nav__link {
  font-size: 2.5rem;
} */
/* 
@media (max-width: 1500px) {
  .header {
    height: 14rem;
  }

  .logo img {
    height: 12rem;
    margin-left: 2rem;
  }

  .nav__link {
    font-size: 2.1rem;
  }

  .btn-header-nav {
    padding: 0 1rem;
    padding-bottom: 0.4rem;
  }

  .sticky .nav__link {
    font-size: 2rem;
  }
}

@media (max-width: 1100px) {
  .header {
    height: 12rem;
  }

  .logo img {
    height: 10rem;
    margin-left: 2rem;
  }

  .nav__list {
    gap: 3rem;
  }

  @supports (gap: 3rem) {
    .nav__list {
      margin-right: 3rem;
    }
  }

  .nav__link {
    font-size: 1.6rem;
  }

  .btn-header-nav {
    padding: 0.2rem 1.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .sticky .nav__link {
    font-size: 1.8rem;
  }
}

@media (max-width: 850px) {
  .nav__list {
    gap: 3rem;
  }

  .nav__link {
    font-size: 1.4rem;
  }

  .sticky .nav__list {
    gap: 3rem;
  }

  .sticky .logo img {
    height: 7rem;
    margin-left: 0;
  }

  .sticky .nav__link {
    font-size: 1.6rem;
  }
}

@media (max-width: 750px) {
  .nav__list {
    gap: 1.3rem;
  }

  @supports (gap: 1.3rem) {
    .nav__list {
      margin: 1.3rem;
    }
  }

  .nav__link {
    font-size: 1.2rem;
  }

  .sticky .nav__list {
    gap: 2rem;
  }

  .sticky .nav__link {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .logo img {
    height: 7rem;
    margin-left: 2rem;
  }

  .nav__list,
  .sticky .nav__list {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2.5rem;
  }

  .nav__link,
  .sticky .nav__link {
    font-size: 2.1rem;
  }

  .btn-header-nav {
    margin-top: 1rem;
  }

  .mobile-navmenu-btn {
    display: block;
    z-index: 9999;
  }

  .nav {
    z-index: 9999;
    background-color: var(--color-light);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 8rem;
    align-items: top;
    justify-content: center;
    transform: translateX(100%);
    transition: all 500ms ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    z-index: 9999;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .mobile-navmenu-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .mobile-navmenu-icon[name="menu-outline"] {
    display: none;
  }

  .nav-open .logo img {
    height: 7rem;
    left: 1rem;
    top: 0.3rem;
    z-index: 29999;
    position: absolute;
  }

  .header {
    height: 8rem;
    margin-bottom: 10rem;
  }

  .sticky .logo img {
    height: 7rem;
    left: 1rem;
    top: 0.3rem;
  }
} */

/********************/
/* Section Search */
/********************/

.section-search {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.form-word-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form__search {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .form__search-input {
  text-align: left;
  font-size: 10rem;
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-dark);
  padding: 1rem;
} */

.search__btn {
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 2rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 0rem 2rem;
  transition: transform 300ms ease-in-out;
}

.search__btn:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/********************/
/* Section Search Results */
/********************/

.section-search-results {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.search-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-predictions {
  position: absolute;
  top: 100%;
  width: 60%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-predictions li {
  padding: 10px;
  cursor: pointer;
}

.search-predictions li:hover {
  background-color: #f2f2f2;
}
.selected {
  background-color: #f2f2f2;
}

.search-predictions hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.search__title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.search__results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-self: left;
  align-content: left;
  justify-items: left;
  justify-self: left;
  text-align: left;
  font-size: 2rem;
}

.search__result {
  position: relative;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.3);
}
.search__result:hover {
  background-color: #f0f0f0c9;
}

.edit__btn {
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 2rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  transition: transform 300ms ease-in-out;
}

.edit__btn:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.search__result--edit-row {
  display: flex;
  gap: 5rem;
}

.search__result--top-row {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.search__result--part-of-speech {
  color: var(--color-light-text);
}

.search__result--second-row {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 2rem;
}

.search__result--hiragana {
  background-color: var(--color-accent-primary);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}

.search__result--katakana {
  background-color: var(--color-accent-secondary);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}

.search__result--romaji {
  background-color: var(--color-accent-tertiary);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}

.search__result--third-row {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.search__result--english {
  font-weight: 700;
}

.accordian-hidden {
  display: none;
  border: 0.4rem solid transparent;
}

.accordian-icon {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  stroke: var(--color-accent-primary);
}

.accordian-open {
  border: 0.4rem solid var(--color-accent-primary);
}

.accordian-open .accordian-hidden {
  margin-top: 5rem;
  display: block;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.accordian-open .accordian-icon {
  transform: rotate(-90deg);
}

.search__result:hover:not(.accordian-open),
.search__result:active:not(.accordian-open) {
  transform: translate(-1px, -1px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.accordian__item--title {
  margin-bottom: 1rem;
}

.accordian__item--text {
  color: var(--color-light-text);
}

.section-search-other-dictionaries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.other-dictionaries__title {
  text-align: center;
  color: var(--color-dark);
  font-size: 2rem;
}

.other-dictionaries__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.other-dictionary__link {
  transition: all 200ms ease-in-out;
}

.other-dictionary__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.other-dictionary__icon:hover {
  transform: translateY(-0.1rem), scale(1.1);
}

/********************/
/* Section Admin Controls */
/********************/

.section-admin-controls {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.admin-nav {
  color: var(--color-dark);
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  margin-bottom: 5rem;
}

.admin-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.admin-nav__link {
  display: block;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  transition: transform 300ms ease-in-out;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.admin-nav__link:hover,
.admin-nav__link:active {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.btn-header-nav {
  display: block;
  padding: 0 3rem;
  background: var(--color-accent-primary);
  color: var(--color-dark);
  text-decoration: none;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  border-radius: 1rem;
  border: 2px solid transparent;
  outline-offset: 1rem;
  transition: all 200ms ease-in-out;
}

.btn-header-nav:hover {
  transform: translateY(-0.1rem);
  background-color: var(--color-light);
  border: 2px solid var(--color-accent-primary);
}

/********************/
/* Footer */
/********************/

.footer {
  text-align: center;
  font-size: 2rem;
  margin-top: 50rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* FORM TEMP */

.input-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 3rem;
  width: 90%;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 0 auto;
}

.input-form input,
.input-form select {
  width: 90%;
  height: 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: transparent;

  outline: 0.3rem solid var(--color-accent);
  outline-offset: 0.2rem;
}

.input-form select {
  width: 10rem;
}

.form__input {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form p {
  font-size: 2rem;
}

.margin-right {
  margin-right: 3rem;
}

.form__btn {
  width: 30%;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 2rem;
  height: 5rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  margin-top: 3rem;
}

.form__btn:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.form__row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.form__row--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/***** Tooltips *****/

.tooltip-wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.tooltip__icon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--color-grey-light);
  color: var(--color-dark);
  padding: 1rem 2rem;
  border: 0.1rem solid var(--color-grey-dark);
  border-radius: 5px;
  transition: all 400ms ease-in-out;
  /* transform: translateY(-40%); */
}

.tooltip__text {
  font-size: 1.5rem;
}

.tooltip__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0.7rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.4rem;
  background-color: var(--color-grey-dark);
  cursor: pointer;
}

/********************/
/* Section Review */
/********************/

.section-review {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.review__card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-light);
  padding: 4rem 3rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-grey-dark);
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.1);
  gap: 6rem;
}

.review__card--review-type {
  display: flex;
  gap: 2rem;
}

.review__card--button-new,
.review__card--button-review {
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-accent-primary);
  font-weight: 700;
  font-size: 1.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: transform 300ms ease-in-out;
}

.review__card--button-new:hover,
.review__card--button-review:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.review__card--word {
  font-size: 4rem;
}

.review__card--yomikata,
.review__card--english {
  font-size: 2rem;
}

.review__card--submit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 4rem; */
}

.review__card--button-red {
  cursor: pointer;
  content: "";
  color: var(--color-dark);
  background-color: hsla(0, 100%, 50%, 0.8);
  font-weight: 700;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  transition: transform 300ms ease-in-out;
}

.review__card--button-red:hover {
  background-color: hsla(0, 100%, 50%, 0.5);
  border: 0.2rem solid var(--color-dark);
}
.review__card--button-orange {
  cursor: pointer;
  content: "";
  color: var(--color-dark);
  background-color: hsla(38, 84%, 49%, 0.8);
  font-weight: 700;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  transition: transform 300ms ease-in-out;
}

.review__card--button-orange:hover {
  background-color: hsla(38, 84%, 49%, 0.5);
}
.review__card--button-yellow {
  cursor: pointer;
  content: "";
  color: var(--color-dark);
  background-color: hsla(58, 86%, 58%, 0.8);
  font-weight: 700;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  transition: transform 300ms ease-in-out;
}

.review__card--button-yellow:hover {
  background-color: hsla(58, 86%, 58%, 0.5);
}
.review__card--button-green {
  cursor: pointer;
  content: "";
  color: var(--color-dark);
  background-color: hsla(105, 77%, 46%, 0.8);
  font-weight: 700;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  transition: transform 300ms ease-in-out;
}

.review__card--button-green:hover {
  background-color: hsla(105, 77%, 46%, 0.5);
}

.review__pagination {
  display: flex;
  align-items: center;
  gap: 24px;
}
.pag-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-accent-primary);
  border: 1px solid var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pag-icon {
  height: 2rem;
  width: 2rem;
  stroke: var(--color-light);
}
.pag-btn:hover {
  background-color: var(--color-light);
}
.pag-btn:hover .pag-icon {
  background-color: var(--color-light);
  stroke: var(--color-accent-primary);
}

.pag-link:link,
.pag-link:visited {
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  color: #343a40;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pag-link:hover,
.pag-link:active,
.pag-link.pag-link--current {
  color: var(--color-light);
  background-color: var(--color-dark);
}
