/********************/
/* User Profile */
/********************/

.section-user-profile {
}

.user-profile__header {
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--color-grey-light);
  padding: 2rem 10rem;
  gap: 5rem;
}

.user-profile__profile-img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.user-profile__profile-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
}

.user-profile__profile-title {
  /* font-family: var(--font-family-primary); */
  font-size: 4rem;
}

.user-profile__profile-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-dark);
}

.content-tabs {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 0.2rem solid rgba(229, 229, 229);
  font-size: 2rem;
  font-weight: 700;
}

.content-tabs__btn {
  font-size: 2rem;
  font-weight: 600;
  /* font-family: var(--font-family-primary); */
  background: none;
  border: none;
  padding: 2rem;
  cursor: pointer;
}

.content-tabs__btn:hover {
  color: var(--color-accent-primary);
}

.content-tabs__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-light);
  height: 2.5rem;
  width: 0.25rem;
  border-radius: 1rem;
  content: "";
}

.content-tabs__line {
  position: absolute;
  top: 6rem;
  left: 0rem;
  width: 4rem;
  height: 0.5rem;
  background-color: var(--color-accent-primary);
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

.content-box {
  padding: 2rem;
}

.content-box .content {
  display: none;
  animation: moving 500ms ease;
}
@keyframes moving {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.content-box .content.active {
  display: block;
}

.myWords-content-tabs {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid rgba(229, 229, 229);
  font-size: 2rem;
  font-weight: 700;
}

.myWords-content-tabs__btn {
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  /* font-family: var(--font-family-primary); */
  background: none;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: all 300ms ease-in-out;
}

.myWords-content-tabs__btn:nth-child(1) {
  background-color: hsla(0, 100%, 50%, 0.2);
}
.myWords-content-tabs__btn:nth-child(3) {
  background-color: hsla(38, 84%, 49%, 0.2);
}
.myWords-content-tabs__btn:nth-child(5) {
  background-color: hsla(58, 86%, 58%, 0.2);
}
.myWords-content-tabs__btn:nth-child(7) {
  background-color: hsla(105, 77%, 46%, 0.2);
}

.myWords-content-tabs__btn:hover,
.myWords-content-tabs__btn:active {
  color: var(--color-light);
}

.myWords-content-tabs__btn:nth-child(1):hover,
.myWords-content-tabs__btn:nth-child(1):active {
  background-color: hsla(0, 100%, 50%, 0.6);
}
.myWords-content-tabs__btn:nth-child(3):hover,
.myWords-content-tabs__btn:nth-child(3):active {
  background-color: hsla(38, 84%, 49%, 0.6);
}
.myWords-content-tabs__btn:nth-child(5):hover,
.myWords-content-tabs__btn:nth-child(5):active {
  background-color: hsla(58, 86%, 58%, 0.99);
}
.myWords-content-tabs__btn:nth-child(7):hover,
.myWords-content-tabs__btn:nth-child(7):active {
  background-color: hsla(105, 77%, 46%, 0.6);
}

.myWords-content-tabs__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-light);
  height: 2.5rem;
  width: 0.25rem;
  border-radius: 1rem;
  content: "";
}

.myWords-content-tabs__line {
  position: absolute;
  top: 2.8rem;
  left: 0rem;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--color-dark);
  border-radius: 2rem;
  transition: all 300ms ease-in-out;
}

.myWords-content-box {
  padding: 2rem;
}

.myWords-content-box .myWords-content {
  display: none;
  animation: moving 500ms ease;
}
@keyframes moving {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.myWords-content-box .myWords-content.active {
  display: block;
}
